<div *ngIf="hero">
  <h2 id="heroName">{{hero.name | uppercase}} - <span>id: </span>{{hero.id}}</h2>

  <mat-form-field class="full-width" appearance="fill">
    <label for="hero-name">Hero name </label>
    <input  matInput placeholder="Hero name" [(ngModel)]="hero.name">
  </mat-form-field>

  <div class="full-width" id="default" appearance="fill">
    <label  for="hero-description">Hero Description </label><br/>
    <input matInput id="hero-description"[(ngModel)]="hero.description" placeholder="Hero Description"/>
  </div>

  <div id="default" class="full-width" appearance="fill">
    <label for="hero-image-url">Hero image url: </label><br/>
    <input matInput id="hero-image-url" [(ngModel)]="hero.imageUrl" placeholder="Hero Image"/>
  </div>

  <div id="default">
    <select [(ngModel)]="hero.universe">
      <option *ngFor="let universe of heroUniverse" [value]="universe">
        {{universe | uppercase}}
      </option>
    </select>
  </div>

  <button id="default" mat-raised-button color="primary" (click)="goBack()">go back</button>
  <button id="default" mat-raised-button color="primary" (click)="save()">save</button>
</div>


