/* MessagesComponent's private CSS styles */
h2 {
  color: #A80000;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.messages {
  text-align: center;
}

.clear {
  color: #000;
  border: 1px solid #F2F3F4;
  background-color: #FBFCFC  ;
  margin-bottom: 12px;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}
.clear:hover {
  color: #000;
  background-color: #F2F3F4;
}
